<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>basic car booking system</title>
  </head>
  <body>
    hello im ajay
    <button type="button" name="button"></button>
  </body>
</html>
